<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventana secundaria.</title>
</head>

<body>
    <h1>Ejemplo de Ventana Nueva</h1>
    <p><b>Completa:</b> &nbsp <span id="url"></span></p>
    <p><b>Protocolo utilizado:</b> <span id="protocolo"></span></p>
    <iframe src="https://hotellallastra.app/inicio" width="800" height="600" frameborder="0"></iframe>
    <br />
    <button id="close">Cerrar Ventana</button>
    <script type="module" src="/scripts/ventana-refresh.js"></script>
</body>

</html>